<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"!>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title>Restaurant LOGIN-PAGE</title>
    </head>
    <body>
        <div class="row">
            <div class="col-auto mr-auto">
                <p style="white-space: nowrap; margin:25px;">Kundenregistrierung</p>
            </div>
            <form action="/customer/login" method="get">
                <button  type="submit">Einloggen</button>  
            </form>
            </div> 
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-8" style="background-color:pink;">
            <div class="col-sm-6">
            <form action="/customer/registrieren" method="post">
                
                <div class="container" style="margin-top:10px;">
                    <div class="col-sm-3">
                        <label for="username">Benutzername:</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" id="username" name="username" required >
                    </div>
                </div>
                <div class="container" style="margin-top:10px;">
                    <div class="col-sm-3">
                        <label for="password">Passwort:</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="password" id="password" name="password" required>
                    </div>
                </div>
                <div class="container" style="margin-top:10px;">
                    <div class="col-sm-3">
                        <label for="passwordControll">Passwort wiederholen:</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="password" id="passwordControll" name="passwordControll" required>
                    </div>
                </div>
                <div class="container" style="margin-top:10px;">
                    <div class="col-sm-3">
                        <label for="firstName">Vorname:</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" id="firstName" name="firstName" required >
                    </div>
                    <div class="col-sm-3">
                        <label for="lastName">Nachname:</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" id="lastName" name="lastName" required >
                    </div>
                </div>
                <div class="container" style="margin-top:10px;">
                    <div class="col-sm-3">
                        <label for="street">Straße</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" id="street" name="street" required >
                    </div>
                    <div class="col-sm-3">
                        <label for="houseNumber">Hausnummer</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" id="houseNumber" name="houseNumber" required >
                    </div>
                </div>
                <div class="container" style="margin-top:10px;">
                    <div class="col-sm-3">
                        <label for="plz">Postleitzahl</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" id="plz" name="plz" required >
                    </div>
                </div>
                <div class="container" style="margin-top:10px;">
                    <div id="userInfo" style="display: contents;">
                       <p style="color: darkred;"><b>{{ message }}</b></p>
                    </div>
                </div>
                <div class="container" style="margin-top:10px;">
                    <div class="col-sm-2">
                        <button type="submit">Registrieren</button>
                    </div>
                </div>
            </form>
            </div>
        </div>

        
    </body>    
</html>