<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"!>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
        <script type="text/javascript" charset="utf-8">
            var socket = io();
            socket.on('connect', function() {
                console.log('connected')
            });
            socket.on('message', () => {
                console.log('received')
            })
        </script>
        <title>Speisekarte</title>
    </head>
    <body>
            {% for message in get_flashed_messages() %}
                <li>order details</li>
            {% endfor %}
            <div class="container">
            <h1 style="color:blue;">Ihr Restaurant bei Lieferspatz!</h1>
            <!--Liste der Items auf der Speisekarte-->
                <div class="h-25 col-sm-9" style="background-color:yellow;">
                    <div class="row" style="height: 50px; padding-top: 10px;"> 
                        <div class="col-sm-1"></div>   
                        <div class ="h-25 col-sm-7">Speisekarte</div>
                        <button type="button" class="h-40 col-sm-3 btn" onclick="window.location.href = 'restaurant/newItem';">Neue Speise</button>
                        <div class="col-sm-1"></div>
                    </div>    
                    <ul class="list-group">
                        <!--vielleicht bietet sich es mehr an href bei bearbeiten & löschen zu benutzen-->
                        {% for item in items %}
                            <li class="list-group-item" style="list-style-type: none;">
                                <div class="row">
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-2">
                                        {{ item.name }}
                                    </div>
                                    <div class="col-sm-2">
                                        {{ item.preis }} €
                                    </div>
                                    <div class="col-sm-2">
                                        {{ item.category }}
                                    </div>
                                    <div class="col-sm-2">
                                        <form action="{{ url_for('delete_Item',itemId =item.itemId) }}" method=post >
                                            <input type=hidden name=itemId_to_delete value="{{item.itemId}}"  />
                                            <button type="submit">löschen</button>
                                          </form>   
                                    </div>
                                    <div class="col-sm-3">
                                        <a href="{{ url_for('changeItem', item_id=item.itemId) }}">bearbeiten</a>
                                    </div>
                                </div>
                                <div class="row" style="background-color: lightcyan;">
                                    <div class="col-sm-1"></div>
                                    Beschreibung: {{ item.beschreibung }}
                                </div>  
                            </li>  
                        {% endfor %}  
                    </ul>
                </div>
                <!--DropdownMenü-->
                <div class="col-sm-3" style="background-color:pink; padding-top: 50px;">
                    <ul role="menu" aria-labelledby="menu1">
                        <li><a role="menuitem" tabindex="-1" href="/restaurant/bestellungen/neu">Neue Bestellungen</a></li>
                        <li><a role="menuitem" tabindex="-1" href="/restaurant/bestellungen">Bestellungen</a></li>
                        <li><a role="menuitem" tabindex="-1" href="#">Archiv</a></li>
                        <li class="list-group-item" style="list-style-type: none; background-color:transparent; border-color: transparent;" ></li>
                        <li><a role="menuitem" tabindex="-1" href="/restaurant/openingTime">Öffnungszeiten</a></li>
                        <li><a role="menuitem" tabindex="-1" href="/restaurant/postcodes">Liefergebiet bearbeiten</a></li>
                        <li><a role="menuitem" tabindex="-1" href="/restaurant/logout">Ausloggen</a></li>
                    </ul>
                </div>
             <!--
            <div class="row">
                
                <div class="col-sm-9" style="background-color:yellow;">
                    Speisekarte
                </div>
            </div>
            //-->
        </div> 
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        </body>
    </html>
<!--


//-->