<!DOCTYPE html>
<head>
    <meta charset="utf-8"!>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title>Opening Times</title>
    </head>
</head>
<body >
    <div>
        <div class="col-sm-2"></div>
        <div class="col-sm-6">
            <form action="/restaurant/login" method="get">
                <button type="submit">Als Restaurant Einloggen</button>
            </form>
            <form action="/restaurant/registrieren" method="get">
                <button type="submit">Als Restaurant Registrieren</button>
            </form>
            <form action="/customer/login" method="get">
                <button type="submit">Als Kunde Einloggen</button>
            </form>
            <form action="/restaurant/registrieren" method="get">
                <button type="submit">Als Restaurant Registrieren</button>
            </form>
        </div>
    </div> 
</body>